@import url(http://fonts.googleapis.com/css?family=Muli:400,400italic);
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* Basic CSS for WWU Styles */
/* line 85, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-weight: normal;
}

/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
}

/* line 22, ../sass/pages.scss */
#top-stripe {
  height: 6px;
  top: 0;
  z-index: 90;
  background-color: #0083d6;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 37, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 41, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 54, ../sass/pages.scss */
#wwuheader {
  height: 145px;
  margin-left: 20px;
}
/* line 59, ../sass/pages.scss */
#wwuheader img {
  z-index: 100;
  margin-top: -6px;
}
/* line 63, ../sass/pages.scss */
#wwuheader ul#wwumenu {
  float: right;
  font-size: .8em;
  margin: -5px 10px 2px 0;
}
/* line 68, ../sass/pages.scss */
#wwuheader ul#wwumenu li {
  display: inline;
  font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  padding-left: .5em;
}
/* line 80, ../sass/pages.scss */
#wwuheader ul#wwumenu li img {
  margin-top: 5px;
}
/* line 82, ../sass/pages.scss */
#wwuheader ul#wwumenu li.wwulinks {
  padding-left: 5px;
}
/* line 86, ../sass/pages.scss */
#wwuheader ul#wwumenu li.wwulinks:not(:first-child):before {
  content: "\00B7 \0020 ";
}
/* line 88, ../sass/pages.scss */
#wwuheader ul#wwumenu li.wwulinks a {
  text-decoration: none;
  padding-left: 6px;
  color: #003f87;
}
/* line 92, ../sass/pages.scss */
#wwuheader ul#wwumenu li.wwulinks a:hover {
  color: #0083d6;
  text-decoration: underline;
}

/* line 109, ../sass/pages.scss */
#collegeheader {
  padding: 10px;
  background-color: #fff;
  height: 200px;
}

/* line 119, ../sass/pages.scss */
#collegeheader {
  margin-top: -90px;
}

/* line 125, ../sass/pages.scss */
#logo {
  /* Wrapping link for college banner = logo */
  float: left;
  /* LTR */
  padding: 0;
  width: 100%;
}
/* line 129, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 135, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 139, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 146, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 152, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 157, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 162, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 170, ../sass/pages.scss */
#main {
  margin-top: 25px;
  background: url("../images/contentbg.png") repeat-x;
}

/*
 * Content
 */
/* line 186, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 187, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 191, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 204, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 208, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 212, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 216, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 219, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 225, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 229, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 234, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 237, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 241, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 245, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 248, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 251, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 254, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 257, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 261, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 267, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 271, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 274, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 279, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 282, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 309, ../sass/pages.scss */
#footer {
  height: 200px;
  background-color: #003f87;
  color: white;
}

/*
 * Page bottom
 */
/* line 319, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
