@import url(http://fonts.googleapis.com/css?family=Muli:400,400italic);
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* Basic CSS for WWU Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/_base\.scss}line{font-family:\0000387}}
h1, h2, h3, h4, h5, h6 {
  font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-weight: normal;
}

/*
 * Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000317}}
body {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000322}}
#top-stripe {
  height: 6px;
  top: 0;
  z-index: 90;
  background-color: #0083d6;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000337}}
#skip-link {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000341}}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000354}}
#header {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000357}}
#wwuheader {
  height: 9.063em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000360}}
#wwuheader img.wwuLogo {
  z-index: 200;
  margin: -6px 0 0 20px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000365}}
#wwuheader #edit-search-block-form--2 {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000368}}
#wwuheader .form-submit {
  background-color: #bad80a;
  border: 1px solid transparent;
  color: #003f87;
  margin-left: .5em;
  height: 1.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000376}}
#wwuheader aside.wwusearch {
  float: right;
  margin-top: -0.313em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000380}}
#wwuheader #search {
  height: 2em;
  width: 17.15em;
  background: #003f87;
  padding: 0.5em 0 0.5em 0.5em;
  display: block;
  float: right;
  overflow: hidden;
  position: absolute;
  border-top: 4px solid #0083d6;
  z-index: 200;
  top: 2.2em;
  right: .9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\0000394}}
#wwuheader #search a {
  color: #999;
  line-height: 31px;
  background: #E4E4E4;
  height: 2.063em;
  float: left;
  width: 12px;
  text-align: center;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003105}}
#wwuheader #search a:hover {
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003109}}
#wwuheader #search label {
  display: block;
  font-size: .8em;
  font-weight: normal;
  padding-left: 6%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003119}}
ul#wwumenu {
  float: right;
  font-size: .8em;
  position: relative;
  margin: 7px 20px 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003124}}
ul#wwumenu li {
  display: inline;
  font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  padding-left: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003130}}
ul#wwumenu li img {
  margin-top: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003132}}
ul#wwumenu li.wwulinks {
  padding-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003136}}
ul#wwumenu li.wwulinks:not(:first-child):before {
  content: "\00B7 \0020 ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003138}}
ul#wwumenu li.wwulinks a {
  text-decoration: none;
  padding-left: 6px;
  color: #003f87;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003142}}
ul#wwumenu li.wwulinks a:hover {
  color: #0083d6;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003154}}
#collegeheader {
  position: relative;
  padding: 10px;
  background-color: #fff;
  height: 222px;
  margin-top: -100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003167}}
#logo {
  /* Wrapping link for college banner = logo */
  float: left;
  /* LTR */
  padding: 0;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003171}}
#logo img {
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003177}}
#name-and-slogan {
  /* Wrapper for website name and slogan */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003181}}
#site-name {
  /* The name of the website */
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003184}}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003190}}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003195}}
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003200}}
.region-header, #navigation {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003208}}
#main {
  margin: .8em .938em 4.250em .8em;
  padding: .625em;
  background: url("../images/contentbg.png") repeat-x;
}

/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003218}}
#content {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003222}}
header#department {
  border-bottom: solid 3px #E9E9E9;
  padding: 0 1em .5em 1em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003231}}
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  float: right;
  font-size: .75em;
  font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  color: gray;
  line-height: 2.17;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003237}}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003241}}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003246}}
.breadcrumb li a {
  color: gray;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003249}}
.breadcrumb li a.active {
  color: #0083d6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003261}}
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  border: none;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003266}}
h1.title {
  display: inline-block;
  font-size: 18.72px;
  color: #003f87;
}

/* Generic header styling */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003273}}
h2 {
  font-size: 22.4px;
  color: #003f87;
  padding: 5px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003279}}
h3 {
  font-size: 20px;
  color: #003f87;
  border-bottom: #003f87 1px solid;
  padding: 2px 6px;
  max-width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003287}}
h4 {
  font-size: 19.2px;
  color: #003f87;
  padding: 2px 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003293}}
h5 {
  font-size: 17.6px;
  color: #003f87;
  padding: 0px 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003299}}
h6 {
  font-size: 16.8px;
  color: #003f87;
  padding: 0px 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003305}}
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003309}}
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003313}}
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003316}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003322}}
div.status {
  /* Normal priority messages */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003326}}
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003331}}
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003334}}
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003338}}
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003342}}
.tabs {
  /* See also the tabs.css file. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003345}}
.region-help {
  /* Help text on a page */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003348}}
.more-help-link {
  /* Link to more help */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003351}}
.region-content {
  /* Wrapper for the actual page content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003354}}
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003358}}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003364}}
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003368}}
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003371}}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003376}}
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003379}}
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003406}}
#footer {
  background-color: #003f87;
  color: white;
  font-size: .625em;
  border-top: .8em solid #ffffff;
  padding-bottom: 3.813em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003414}}
#footer-wrapper {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003421}}
#footer-left {
  float: left;
  width: 29.5%;
  padding: .688em 0em 1.25em 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003427}}
#footer-center {
  float: left;
  width: 29.5%;
  padding: .688em 3.25em 1.25em 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003433}}
#footer-center li {
  border-bottom: 1px solid #ffffff;
  width: 100%;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003438}}
#footer-center li:hover {
  border-bottom: 1px solid #ffc61e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003443}}
#footer-center li a {
  color: #ffffff;
  text-decoration: none;
  padding-left: .15em;
  text-transform: capitalize;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003448}}
#footer-center li a:hover {
  color: #ffc61e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003455}}
#footer-right {
  float: right;
  margin-right: 2em;
  width: 24.5%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a5a8f), color-stop(100%, #003f87));
  background: -webkit-linear-gradient(top, #3a5a8f, #003f87);
  background: -moz-linear-gradient(top, #3a5a8f, #003f87);
  background: -o-linear-gradient(top, #3a5a8f, #003f87);
  background: linear-gradient(top, #3a5a8f, #003f87);
  margin-top: -1.813em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003462}}
#footer-right #footer-right-heading {
  background-color: #ffffff;
  width: 100%;
  height: 3em;
  -webkit-box-shadow: #c1c1c1 2px 0px 3px;
  -moz-box-shadow: #c1c1c1 2px 0px 3px;
  box-shadow: #c1c1c1 2px 0px 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003468}}
#footer-right #footer-right-heading h3 {
  font-size: 14.4px;
  color: #003f87;
  margin: 0;
  padding-left: 1.25em;
  padding-top: 0.5em;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003478}}
#footer-right #footer-right-contact-info {
  padding-left: 1.25em;
  margin-top: 1.500em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003482}}
#footer-right #footer-right-contact-info img {
  float: left;
  padding-right: .625em;
  margin-top: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003487}}
#footer-right #footer-right-contact-info p {
  margin-bottom: 0;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003491}}
#footer-right #footer-right-contact-info p.second-address-line {
  padding-left: 2em;
  margin-top: -0.825em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003495}}
#footer-right #footer-right-contact-info a {
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003499}}
#footer-right #footer-right-social-media-icons {
  position: relative;
  margin-top: 1.438em;
}

/*
 * Page bottom
 */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/pages\.scss}line{font-family:\00003509}}
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
