@import url(http://fonts.googleapis.com/css?family=Muli:400,400italic);
/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
/* Basic CSS for WWU Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/_base\.scss}line{font-family:\0000385}}
h1, h2, h3, h4, h5, h6 {
  font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/c\:\/wamp\/www\/drup_zen\/drupal-7\.18\/sites\/all\/themes\/wwuzen\/sass\/wireframes\.scss}line{font-family:\0000319}}
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
