/**
 * Legacy IE support
 *
 * These variables are used by many mixins to add additional CSS to support
 * specific versions of IE or specific vendor prefixes.
 *
 * To turn on support for IE6 or IE7, set those variables to true.
 *
 * Zen does not require special handling for IE8 or later. But Compass uses that
 * variable for a couple edge cases. We include it for completeness sake. See
 * the documentation at http://compass-style.org/reference/compass/support/
 */

$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;
$legacy-support-for-ie8: true;