//Hide the darn contextual link of the main menu when the page loads for admins
#navigation #main-menu div.contextual-links-wrapper ul.contextual-links {
  display:none;
}
/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */
 
#wwuheader {
 

  #edit-search-block-form--2{
    float:left;
  }
  .form-submit {
    background-color:$wwuLime;
    border:1px solid transparent;
    color:$wwuBlue;
    margin-left:.5em;
    height:1.75em;
  }
  
  #search {
    //height:2em;
    background:$wwuBlue;
    padding:0.5em 0 0.5em 0.5em;
    display:block;
    float:right;
    overflow:hidden;
    border-top:4px solid $wwuLtblue;
    z-index:200;

    a {
      color:#999;
      line-height: 31px;
      background:#E4E4E4;
      height:2.063em;
      float:left;
      width:12px;
      text-align:center;
      text-decoration:none;
    }
   
    a:hover {
      color:#666;
    }

    label {
      display:block;
      font-size:.8em;
      font-weight:normal;
      padding-left:6%;
    }

 
  }
}
  ul#wwumenu {
   
    font-size: .8em;
    position:relative;
    margin: 7px 20px 2px 0;
    li  {
      display:inline;
      font-family: $muli;
      padding-left: .5em;

      
      img {margin-top: -1px;}
    }
    li.wwulinks {
      padding-left: 5px;
      //background: url("../images/menu-leaf.png") no-repeat left center;
      
      &:not(:first-child):before{content: "\00B7 \0020 ";}
      //&:before:first-child {content: " ";}
      a {
        text-decoration: none;
        padding-left: 6px;
        color: $wwuBlue;
        &:hover{ color:$wwuLtblue; text-decoration:underline;}
      }
    }
  }
#searchwrapper {
  // position:absolute; left:307px; top:39px; width:650px; height:38px;
}
#iconbox {
  // position:absolute; left:957px; top:38px; width:41px; height:39px;text-align:center;background-color:#FFF;overflow:hidden;
}


#logo { /* Wrapping link for college banner = logo */
  float: left; /* LTR */
  padding: 0;
  width: 100%;
  img {
    
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  //float: left;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header, #navigation { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
   padding: .625em;
   //In case nothing is supported.
   background-color: #ffffff;
   //filter gradient for IE6-8
   @include filter-gradient(rgba(255,255,255,1), rgba(233,233,233,1), vertical);
   //SVG for IE 9 and Opera
   $experimental-support-for-svg: true;
   //Standard Gradients for all other browsers
   @include background-image(
    linear-gradient(top, rgba(255,255,255,1),rgba(233,233,233,1) 80%));
}

/*
 * Content
 */

#content {
  clear:both;
}

header#department {
  border-bottom:solid 3px #E9E9E9;
  padding:0 1em .5em 1em;
  margin-bottom:1em;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  float:right;
  font-size:.75em;
  font-family:$muli;
  color:gray;
  line-height:2.17;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: gray;
    a {
      color:$wwuLtblue;
      text-decoration:none;
      &.active { color:$wwuRed; }
      &:hover {text-decoration: underline;}
    }
  }
}

/* link styling */

a {
  text-decoration: none;
  color: $wwuLtblue;
  &:hover {text-decoration: underline;}
}

#secondary-menu { }

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  border: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin:1.17em 0 .55em 0;
  line-height:1;
  color:$wwuBlue;
}

@for $h from 1 through 6 {
  h#{$h} { font-size:$h#{$h}-font-size; }
} 

h1.title { display:inline-block; }

h2 { margin-top:.5em; }

.block-title { font-size:1em ;}

#footer-wrapper h2.block-title { color: #fff; }

// To be used (on headers) in Drupal WYSIWYG Styles Dropdown
.title-underline {
  border-bottom: #ddd 3px solid;
  padding-bottom:.25em;
}

#content {
  p, ul, ol, blockquote {
    font-size:.875em;
    line-height:1.563em;
    font-family:$muli;
  }
  .code, code {
    font-family:"Courier New", Courier, monospace;
    font-weight: 700;
    color: $wwuRed;
    margin-left: 3em;
  }
  p {
    margin-top:0;
    margin-bottom:.5em;
    blockquote & { font-size:1em; }
    code { margin-left:0; }
  }
  blockquote {
    background:#ddd;
    padding:1em 1.5em;
    color:$wwuBlue;
    margin:.5em 0;
    p:last-child { margin-bottom:0; }
  }
}

#content ul, #content ol {
  margin:0;
  padding-left:1.5em;
}

// Table styles

table { 
  border-collapse:collapse;
  font-size:.85em;
  font-family:$muli;
}

// Zebra striping
tr:nth-of-type(odd) { background:#eee; }

th {
  font-weight:normal;
  background-color:#ddd;
}

td, th { 
  padding:.5em;  
  text-align:left; 
}

tr { border-bottom:1px solid #fff; }
td, th { border-right:1px solid #fff; }


// Definition lists

dl {
  @extend p;
  margin-left: 1.5em;
  dt { @extend h4; }
  dd { margin-left: 1.5em; }
}

.right { float:right; margin:1em 0 1em 1em; }

.left { float:left; margin:1em 1em 1em 0; }

// Figures and figcaptions

figure {
  background-color:#fff;
  padding:.75em;
  @include box-shadow(#ccc 0 0 3px 1px);
  display:inline-block;
  img { margin:0 auto; }
  figcaption { margin-top:.75em; }
}

.float-left {
  float:left;
  margin:1em 1em 1em 0;
}

.float-right {
  float:right;
  margin:1em 0 1em 1em;
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
  background-color: $wwuBlue;
  color: white;
  font-size:.625em;
  border-top:.8em solid #ffffff;
  padding-bottom:3.813em;
  font-family:$muli;
}

#footer-wrapper {
  max-width:1080px;
  margin-left: auto;
  margin-right: auto;
}

#footer-left {}

#footer-center {
  li {
    border-bottom:1px solid #ffffff;
    list-style: none;

    a {
      color:#ffffff;
      text-decoration:none;
      padding-left:.15em;
      text-transform:capitalize;

      &:after {
          content: "\00A0";
          &:hover {
            border-bottom:1px solid $wwuYellow;
          }
          width:100%;
          position: absolute;
          left:0;
      }

      &:hover {
        color:$wwuLime; 
          }
        }
      }
    }


#footer-right {

    min-width: 28.50em;
    @include background(linear-gradient(top, #3A5A8F, $wwuBlue));
    font-family:$muli;


  #footer-right-heading {
    background-color: #ffffff;
    width:100%;
    height:3.586em;
    @include box-shadow(#555 0 0 7px);

  h3 {
    font-size: 1.4em;
    color:$wwuBlue;
    margin:0;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-right:1em;
    border: none;
    text-transform:uppercase;
    }
  }

  #footer-right-contact-info {
    padding-left:1.25em;
    margin-top:1.500em;
    font-size:1.15em;
    img {
      float:left;
      padding-right:.625em;
      margin-top:.5em;

    }

      p {
        margin-bottom:0;
        margin-top:0; 
      }
      p.second-address-line {
        padding-left:2em; 
        margin-top:-.825em
        }
      a {
        color:#ffffff;
      }
    }
    #footer-right-social-media-icons {
      position:relative;
      margin-top:1.438em;
    }
  }
/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

#site-name {
  position:absolute;
  z-index:99;
  bottom:50px;
  left:30px;
  span {
    color:white;
    font-size:1.25em;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
  }
}