/**
 * @file
 * Print styling
 *
 * We provide some print styling for Drupal using Zen's layout method.
 */

@import "base";

/* First, we hide some unnecessary elements of the page to avoid wasting paper */

.site-banner {
  display: none;
}

.western-logo {
  display: none;
}

header {
  display: none;
}

footer {
  display: none;
}

.tabs-primary {
  display: none;
}

.messages--status {
  display: none;
}

.messages--warning {
  display: none;
}

.accordion-menu-wrapper {
  display: none;
}

/* We need to un-hide the title of the page */

.page-title {
  display: block;
}

/* Apply some styles to enhance print formatting see http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/ */

body {
  width: 100%
}

//avoids images bleeding over edge of page
img {
  max-width: 100% !important;
}

//avoids images being split over multiple pages
ul, img {
  page-break-inside: avoid;
}

@page {
  margin: 2cm;
}

/* Apply base Zen print styles */

  a:link,
  a:visited { /* underline all links */
    text-decoration: underline !important;

    #site-name & { /* Don't underline header */
      text-decoration: none !important;
    }
  }

  .content {
    a[href]:after { /* Add visible URL after links. */
      content: " (" attr(href) ")";
      font-weight: normal;
      font-size: $base-font-size;
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after { /* Only display useful links. */
      content: "";
    }

    abbr[title]:after { /* Add visible title after abbreviations. */
      content: " (" attr(title) ")";
    }
  }

  .content { /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body,
  .page,
  main,
  .content { /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  #skip-link,
  #toolbar,
  .main-nav,
  .region-sidebar-first,
  .region-sidebar-second,
  footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons { /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }
