/**
 * @file
 * Print styling
 *
 * We provide some print styling for Drupal using Zen's layout method.
 */

@import "base";

/* First, we hide some unnecessary elements of the page to avoid wasting paper */

.site-banner {
  display: none;
}

.western-logo {
  display: none;
}

header {
  display: none;
}

footer {
  display: none;
}

.tabs-primary {
  display: none;
}

.messages--status {
  display: none;
}

.messages--warning {
  display: none;
}

.accordion-menu-wrapper {
  display: none;
}

/* We need to un-hide the title of the page */

.page-title {
  display: block;
}

/* Apply some styles to enhance print formatting see http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/ */

body {
  width: 100%
}

//avoids images bleeding over edge of page
img {
  max-width: 100% !important;
}

//avoids images being split over multiple pages
ul, img {
  page-break-inside: avoid;
}

@page {
  margin: 2cm;
}

