/**
 * @file
 * jQuery UI accordion styles
 */

/**
* Start accordion style for our navigation menus.
*/

.ui-helper-reset {
  line-height: 1.5;
}

.ui-accordion .ui-accordion-header {
    padding: 0;
}

.block-accordion-menu {
  .ui-accordion-header,
  .ui-accordion .ui-accordion-content {
    background-color:#eee;
    background-image:none;
    border:none;
    border-bottom:solid 1px #fff;
    margin:0;
    .active-trail { background-color:#ddd; }
    .active {
      background-color:$wwuLime;
      &:hover, &:focus { color:$wwuGreen; @include transition(.3s); }
    }
    span.accordion-link { padding:0.5em 0; }
    a, span.accordion-link {
      color: #222;
      display:block;
      padding-left:1em;
      padding-top:.66em;
      padding-bottom:.66em;
      &:hover, &:focus { color:$wwuOceanBlue; @include transition(.3s); }
    }
  }
  
  .ui-accordion-header {
    @include background-image(linear-gradient(left, #eee 0%,#eee 83.5%,#fff 83.5%,#fff 84%, #ddd 84%,#ddd 100%));
    &.ui-state-active, &.active-trail {
    	@include background-image(linear-gradient(left, #ddd 0%,#ddd 83.5%,#fff 83.5%,#fff 84%, #ddd 84%,#ddd 100%));
    }
    .ui-icon {
      right:.8em;
      left:auto;
      top:10%;
      margin:.5em 0;
    }
    .accordion-link { margin-right:2.75em; }
  }
  
  .ui-accordion .ui-accordion-header .accordion-link a {
    padding: 0;
    margin: 0;
  }
  
  .no-children {
    background-image:none;
    a { padding-left:1em; }
    .ui-icon { display:none; }
    &.ui-accordion-header .accordion-link {
      margin-right: 0;
    }
  }
  
  //Get rid of the default border radii
  .ui-corner-all { border-radius:0; }
  .ui-corner-top { border-radius:0; }
  .ui-corner-bottom {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
  }
  
  //style the interior accordion content
  .ui-accordion .ui-accordion-content {
    font-family:$muli;
    margin:0;
    top:0;
    border:none;
    padding:0;
  }

  .ui-widget-content { background:none; }

  .ui-widget { font-size:1em; } // Changed from 1.1em

  .ui-accordion-content {
    .menu {
      margin:0;
      padding:0;
      li {
        display:block;
        a {
          text-decoration:none;
          display:block;
          margin:0;
          padding-left: 2em;
          padding-top:.66em;
          padding-bottom:.66em;
          border-bottom:solid 1px #fff;
          &.first a { margin:0; }
        }
        li {
          a { padding-left:3.5em; }
          li {
            a { padding-left:5em; }
            li {
              a { padding-left:6.5em; }
              li {
                a { padding-left:8em; }
              }
            }
          }
        }
      }
      & > .menu li {
        padding-left:0;
        & > li { padding-left:0; }
      }
    }
    .ui-accordion-header a {padding-left: 2em;}
    .menu li {
      a { padding-left:2em; }
      li {
        a { padding-left:3.5em; }
        li {
          a { padding-left:5em; }
          li {
            a { padding-left:6.5em; }
          }
        }
      }
    }
    .ui-accordion-content {
    	.ui-accordion-header a {padding-left: 3.5em;}
    	.menu li {
          a { padding-left:3.5em; }
          li {
            a { padding-left:5em; }
            li {
              a { padding-left:6.5em; }
            }
          }
        }
    	.ui-accordion-content {
    		.ui-accordion-header a {padding-left: 5em;}
    		.menu li {
              a { padding-left:5em; }
              li {
                a { padding-left:6.5em; }
              }
            }
    		.ui-accordion-content {
    			.ui-accordion-header a {padding-left: 6.5em;}
    			.menu li {
                  a { padding-left:6.5em; }
                }
    		}
    	}
    }
  }
  
}


@import 'menu-icons.scss';

/**
* End accordion style for our navigation menus.
*/

/**
* Start accordion style for accordion views and content accordions.
*/

.view .ui-accordion, .content-accordion {
  font-family: $muli;
  font-size: 100%;
  .ui-widget-content {
    background: transparent;
    border: none;
    padding: 0.5em 0;
    margin-left: 35px;
    a {color: $wwuOceanBlue;}
  }
  .ui-accordion-header {
  	background: transparent;
  	border: none;
  	padding: 0.5em 0;
  	padding-left: 35px;
  	color: $wwuBlue;
  	a {
  		color: $wwuBlue;
  	}
  }
}

.ui-accordion.content-accordion {
	.ui-accordion-header {
		font-size: 25.6px;
		display: block;
		position: relative;
		margin-top: 2px;
		min-height: 0;
		cursor: pointer;
		.ui-accordion-header-icon {
			position: absolute;
			left: .5em;
			top: 50%;
			margin-top: -8px;
		}
	}
	.ui-icon {
	
	}
}

.accordion-fix-title a {position: relative; left: 1.7em; }
.accordion-fix-body .field-body a {display: inline; padding: 0em; color: #0070B6; }

/**
* End accordion style for accordion views and content accordions.
*/

