@import 'base';

#ThunderstoneSearchForm {

  #query {
    border: solid #ccc 3px;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
    width: calc(60% - 44px);
  }

  table {
    border-collapse: collapse;
    font-size: inherit;
    width: 100%;
  }

  tbody {
    border: 0;
  }

  tr:nth-child(2) {
    display: none;
  }

  th {
    display: none;
  }

  td {
    background-color: #fff;
    padding: 0;
    width: 100%;
  }

  input[value="Submit"] {
    background: transparent url("../images/icons/search.png") top left / cover no-repeat;
    border: 0;
    color: transparent;
    height: 50px;
    width: 50px;
  }

  input[value="Advanced"],
  input[value="Hide Advanced"] {
    display: none;
  }

  label[for="query"],
  label[for="refine"],
  #refine {
    display: none;
  }

  [name="notq"],
  [name="sq"]{
    border: solid #ccc 3px;
    height: 50px;
    margin: 10px 0;
    padding: 0 10px;
    width: 50%;
  }

  [name="sq"] {
    margin: 0 0 10px;
  }
}

#ThunderstoneSearchResults {

  table {
    background: transparent;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    margin: 0 0 1.5em;
    width: 100%;
  }

  tr {
    background: transparent;
    border: 0;
  }

  td {
    background: transparent;
    border: 0;
  }

  > table {
    float: left;
    table-layout: fixed;

    a {
      white-space: normal !important;
    }
  }

  > table:first-of-type {
    margin: 0;

    /* Hide pager at top */
    tr:last-child {
      display: none;
    }

    /* Results info */
    td {
      border-bottom: $wwuLtblue solid 2px;
      border-top: $wwuLtblue solid 2px;
      margin: 0;
      padding: 1em;
    }
  }

  /* First column: results index */
  table table td:nth-child(1) {
    font-size: 0;
    padding: 0;
    padding-right: 1em;
    width: 0;
  }

  /* Second column: link and description */
  table table td:nth-child(2) {
    line-height: 1.5;
    width: 80%;
  }

  /* Third column: relevance and show more links */
  table table td:nth-child(3) {
    line-height: 1.5em;
    text-align: left;
  }

  table table td:nth-child(3) img {
    height: 1.5em;
  }

  table table td:nth-child(3) img:first-child {
    background-color: #003f87;
    margin-left: 1.5em;
  }

  table table td:nth-child(3) img:last-of-type {
    background-color: #66b5e6;
  }

  /* Pager */
  > table:last-of-type {
    display: block;
    margin: 1.5em auto;

    tbody {
      display: block;
    }

    tr {
      display: flex;
      flex-flow: row nowrap;
    }

    td {
      display: block;
      width: auto;
    }

    /* Hide results info above pager */
    tr:nth-child(1) {
      display: none;
    }

    tr:nth-child(2) {

      /* Previous */
      td:nth-child(1) {
        flex: 1 0 20%;
        text-align: right;
      }

      /* Pages */
      td:nth-child(2) {
        flex: 0 1 auto;
        text-align: center;
      }

      /* Next */
      td:nth-child(3) {
        flex: 1 0 20%;
        text-align: left;
      }
    }

    /* Pages */
    a, b {
      line-height: 2.5em;
      margin: 0 1ex;
    }
  }
}

@media screen and (min-width: 600px) {
  #ThunderstoneSearchResults table table td:nth-child(1) {
    font-size: 1em;
    padding-right: 10px;
    width: 30px;
  }

  #ThunderstoneSearchResults table table td:nth-child(2) {
    padding-right: 60px;
  }
}

