################################################################################
#
# FILE EXCLUSIONS
#
################################################################################

# SASS cache files
*.scssc

# CSS files
*.css

# Minified JS files
*.min.js

# Mac OS filessytem
.DS_Store

# Generated lgo and screenshot images
/logo.png
/screenshot.png

################################################################################
#
# DIRECTORY EXCLUSIONS
#
################################################################################

/.sass-cache

# Eclipse project settings
.buildpath
.project
.settings

# node-js modules
/node_modules

# ruby gems
/vendor/gem

# Generated images
/images

################################################################################
#
# EXCEPTIONS
#
################################################################################

# Images Loaded jQuery library
!imagesloaded.*
