@import url(http://fonts.googleapis.com/css?family=Muli:400,400italic);
/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* Basic CSS for WWU Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/_base\.scss}line{font-family:\0000387}}
h1, h2, h3, h4, h5, h6 {
  font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-weight: normal;
}

/*
 * Center the page.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000343}}
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

/*
 * Containers for grid items and flow items.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000352}}
#page:before, #page:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000356}}
#page:after,
#footer:after {
  clear: both;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000373}}
#page,
#wwuheader,
#header,
#main,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0px;
  padding-right: 0px;
}

@media all and (max-width: 360px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000385}}
  #wwuheader a.mobile {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    margin-bottom: -0.375em;
    background-color: #4b689c;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000390}}
  #wwuheader .desktop {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000393}}
  #wwuheader #mobileWWUmenu {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    background-color: #4b689c;
    width: 2.75em;
    height: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000399}}
  #wwuheader .wwusearch {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    position: relative;
    z-index: 20;
    background-color: #4b689c;
    width: 2.75em;
    top: 0%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003108}}
  #wwuheader #search {
    position: relative;
    right: 0;
    top: 2.5em;
    width: 18.55em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003114}}
  #wwuheader ul#wwumenu {
    font-size: 1em;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #003f87;
    text-transform: uppercase;
    display: block;
    list-style-type: none;
    top: 62px;
    width: 100%;
    display: none;
    height: 16.7em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003128}}
  #wwuheader ul#wwumenu li {
    display: block;
    background-color: #003f87;
    border-bottom: solid 1px #E9E9E9;
    padding: .5em .6em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003133}}
  #wwuheader ul#wwumenu li a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003137}}
  #wwuheader ul#wwumenu li a:hover {
    color: #ffc61e;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003143}}
  #wwuheader ul#wwumenu .wwulinks:not(:first-child):before {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003149}}
  #logo, #logoImage {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003152}}
  #collegeheader {
    clear: right;
    position: relative;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0aa0ff), color-stop(100%, #0083d6));
    background: -webkit-linear-gradient(top, #0aa0ff, #0083d6);
    background: -moz-linear-gradient(top, #0aa0ff, #0083d6);
    background: -o-linear-gradient(top, #0aa0ff, #0083d6);
    background: linear-gradient(top, #0aa0ff, #0083d6);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003156}}
  #collegeheader #name-and-slogan {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    padding: 0 0 0 1.25em;
    font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003162}}
  #collegeheader #site-name {
    /* The name of the website */
    display: block;
    width: 80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003166}}
  #collegeheader #site-name a:link,
  #collegeheader #site-name a:visited {
    color: #ffffff;
    text-decoration: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003172}}
  #collegeheader #mobileNavTrigger {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    background-color: #4b689c;
    width: 2.75em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003178}}
  #collegeheader #navigation {
    padding: 0;
    height: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003181}}
  #collegeheader #navigation #main-menu ul.menu {
    display: none;
    background-color: #E9E9E9;
    list-style-type: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003185}}
  #collegeheader #navigation #main-menu ul.menu a {
    text-decoration: none;
    color: #fff;
    padding: .5em 0 .4em 1em;
    display: block;
    width: 83%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003192}}
  #collegeheader #navigation #main-menu ul.menu a:hover {
    color: #ffc61e;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003197}}
  #collegeheader #navigation #main-menu ul.menu li {
    width: 100%;
    text-align: left;
    display: block;
    background-color: #003f87;
    margin-bottom: 1px;
    border: none;
    text-transform: none;
    font-size: .9em;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003209}}
  #collegeheader #navigation #main-menu ul.menu li ul {
    padding-left: 0;
    position: relative;
    background-color: #E9E9E9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003213}}
  #collegeheader #navigation #main-menu ul.menu li ul li {
    background-color: #6f86af;
    margin-bottom: 1px;
    border: none;
    font-size: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003218}}
  #collegeheader #navigation #main-menu ul.menu li ul li ul li {
    background-color: #93a4c3;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003220}}
  #collegeheader #navigation #main-menu ul.menu li ul li ul li ul li {
    background-color: #b7c2d7;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003228}}
  #collegeheader #navigation #main-menu ul.menu li.expanded ul.menu li {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003233}}
  .expanded, .opened {
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003239}}
  .expanded {
    background-image: url("../../images/plus-icon.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003241}}
  .opened .expanded, .expanded .expanded {
    background-color: #4b689c;
    background-image: url("../../images/plus-icon-2.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003244}}
  .opened .opened .expanded, .expanded .opened .expanded, .opened .expanded .expanded, .expanded .expanded .expanded {
    background-color: #6f86af;
    background-image: url("../../images/plus-icon-3.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003247}}
  .opened .opened .opened .expanded, .expanded .opened .opened .expanded, .opened .expanded .opened .expanded, .expanded .expanded .opened .expanded, .opened .opened .expanded .expanded, .expanded .opened .expanded .expanded, .opened .expanded .expanded .expanded, .expanded .expanded .expanded .expanded {
    background-color: #93a4c3;
    background-image: url("../../images/plus-icon-4.png");
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003255}}
  .opened {
    background-image: url("../../images/minus-icon.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003257}}
  .opened .opened, .expanded .opened {
    background-color: #4b689c;
    background-image: url("../../images/minus-icon-2.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003260}}
  .opened .opened .opened, .expanded .opened .opened, .opened .expanded .opened, .expanded .expanded .opened {
    background-color: #6f86af;
    background-image: url("../../images/minus-icon-3.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003263}}
  .opened .opened .opened .opened, .expanded .opened .opened .opened, .opened .expanded .opened .opened, .expanded .expanded .opened .opened, .opened .opened .expanded .opened, .expanded .opened .expanded .opened, .opened .expanded .expanded .opened, .expanded .expanded .expanded .opened {
    background-color: #93a4c3;
    background-image: url("../../images/minus-icon-4.png");
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003274}}
  #main {
    clear: right;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    margin-top: 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003279}}
  #main header#department {
    border-bottom: none;
    padding: .9em 0 1em 0;
    margin-bottom: 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003284}}
  #main .breadcrumb {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003290}}
  #footer-left {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003294}}
  #footer-center {
    clear: right;
    width: 100%;
    margin-left: -1em;
    padding: 0px 0px 0px 0px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003300}}
  #footer-center ul.menu {
    padding: 0px 0px 0px 15px;
    width: 90%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003307}}
  #footer-right {
    clear: right;
    margin-top: 0em;
    margin-right: 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003314}}
  #edit-subject {
    width: 100%;
  }
}
@media all and (min-width: 361px) and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003324}}
  #wwuheader a.mobile {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    margin-bottom: -0.375em;
    background-color: #003f87;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003330}}
  #wwuheader .desktop {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003333}}
  #wwuheader #mobileWWUmenu {
    float: right;
    background-color: #4b689c;
    width: 2.75em;
    height: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003339}}
  #wwuheader .wwusearch {
    clear: left;
    float: right;
    position: relative;
    z-index: 20;
    background-color: #4b689c;
    width: 2.75em;
    top: 0%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003348}}
  #wwuheader #search {
    position: relative;
    right: 0;
    top: 2.5em;
    width: 18.55em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003354}}
  #wwuheader ul#wwumenu {
    font-size: 1em;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #003f87;
    text-transform: uppercase;
    display: block;
    list-style-type: none;
    top: 62px;
    width: 100%;
    display: none;
    height: 16.7em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003368}}
  #wwuheader ul#wwumenu li {
    display: block;
    background-color: #003f87;
    border-bottom: solid 1px #E9E9E9;
    padding: .5em .6em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003374}}
  #wwuheader ul#wwumenu li a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003378}}
  #wwuheader ul#wwumenu li a:hover {
    color: #ffc61e;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003384}}
  #wwuheader ul#wwumenu .wwulinks:not(:first-child):before {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003390}}
  #logo, #logoImage {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003393}}
  #collegeheader {
    clear: right;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #319bde), color-stop(100%, #0083d6));
    background: -webkit-linear-gradient(top, #319bde, #0083d6);
    background: -moz-linear-gradient(top, #319bde, #0083d6);
    background: -o-linear-gradient(top, #319bde, #0083d6);
    background: linear-gradient(top, #319bde, #0083d6);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003397}}
  #collegeheader #name-and-slogan {
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
    padding: 0 0 0 1.25em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003403}}
  #collegeheader #site-name {
    /* The name of the website */
    display: block;
    width: 80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003407}}
  #collegeheader #site-name a:link,
  #collegeheader #site-name a:visited {
    color: #ffffff;
    text-decoration: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003413}}
  #collegeheader #mobileNavTrigger {
    clear: left;
    float: right;
    background-color: #4b689c;
    width: 2.75em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003419}}
  #collegeheader #navigation {
    padding: 0;
    height: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003422}}
  #collegeheader #navigation #main-menu ul.menu {
    display: none;
    background-color: #003f87;
    text-transform: uppercase;
    list-style-type: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003427}}
  #collegeheader #navigation #main-menu ul.menu a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003431}}
  #collegeheader #navigation #main-menu ul.menu a:hover {
    color: #ffc61e;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003436}}
  #collegeheader #navigation #main-menu ul.menu li {
    width: 100%;
    text-align: left;
    display: block;
    background-color: #003f87;
    padding: .5em 0em;
    border-bottom: solid 1px #E9E9E9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003443}}
  #collegeheader #navigation #main-menu ul.menu li a {
    padding: .5em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003447}}
  #collegeheader #navigation #main-menu ul.menu li ul {
    width: 98%;
    padding-left: 2%;
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003450}}
  #collegeheader #navigation #main-menu ul.menu li ul li {
    background-color: #4b689c;
    border-bottom: solid 1px #E9E9E9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003459}}
  #collegeheader #navigation #main-menu ul.menu li.expanded ul.menu li {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003469}}
  #main {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    margin-top: 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003474}}
  #main header#department {
    border-bottom: none;
    padding: .9em 0 1em 0;
    margin-bottom: 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003479}}
  #main .breadcrumb {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003485}}
  #footer-left {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003489}}
  #footer-center {
    clear: right;
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    padding: 0px 0px 0px 0px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003496}}
  #footer-center ul.menu {
    padding: 0px 0px 0px 15px;
    width: 90%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003503}}
  #footer-right {
    clear: right;
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
    margin-top: 0em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003509}}
  #edit-subject {
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 700px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003526}}
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 33.33333%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003530}}
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003540}}
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: right;
    width: 66.66667%;
    margin-right: 0%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003544}}
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003554}}
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: right;
    width: 44.44444%;
    margin-right: 33.33333%;
    margin-left: -77.77778%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003558}}
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003562}}
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: right;
    width: 22.22222%;
    margin-right: 77.77778%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003567}}
  .two-sidebars .region-sidebar-second .block {
    padding-left: 15px;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003570}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    clear: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003574}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 33.33333%;
    margin-left: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003577}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003582}}
  #footer-left {
    display: none;
  }
}
@media all and (min-width: 481px) and (max-width: 800px) {
  /*
   * Use 12 grid columns for medium sized screens.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003593}}
  #top-stripe {
    height: .25em;
    top: 0;
    z-index: 90;
    background-color: #0083d6;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003599}}
  #top-stripe #top-stripe-left {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003602}}
  #top-stripe #top-stripe-center {
    float: right;
    width: 58.33333%;
    margin-right: 41.66667%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003605}}
  #top-stripe #top-stripe-right {
    float: right;
    width: 8.33333%;
    margin-right: 91.66667%;
    margin-left: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003610}}
  #wwuheader {
    float: left;
    width: 102.08333%;
    margin-left: 0%;
    margin-right: -102.08333%;
    margin-bottom: 6.563em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003614}}
  #wwuheader #search {
    width: 17.15em;
    position: absolute;
    top: 2.2em;
    right: .9em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003621}}
  #header {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003625}}
  #header #collegeheader {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    margin-top: -6.875em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003632}}
  #main {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    width: 99%;
    margin: 18.8em .938em 4.250em 1em;
  }

  /*
  * The layout when there is only one sidebar, the left one.
  */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003642}}
  #navigation {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003646}}
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003650}}
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003654}}
  #footer-left {
    display: none;
  }
}
@media all and (min-width: 801px) {
  /*
   * Use 12 grid columns for larger screens.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003666}}
  #top-stripe {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    height: .375em;
    top: 0;
    z-index: 90;
    background-color: #0083d6;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003673}}
  #top-stripe #top-stripe-left, #top-stripe #top-stripe-center, #top-stripe #top-stripe-right {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003678}}
  #wwuheader {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    margin-bottom: .563em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003682}}
  #wwuheader img.wwuLogo {
    z-index: 200;
    margin: -6px 0 0 20px;
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003688}}
  #wwuheader .mobile {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003690}}
  #wwuheader aside.wwusearch {
    float: right;
    width: 8.33333%;
    margin-right: 91.66667%;
    margin-left: -100%;
    margin-top: -0.313em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003694}}
  #wwuheader #search {
    width: 17.15em;
    position: absolute;
    top: 4em;
    right: 7.4em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003700}}
  #wwuheader #mobileWWUmenu {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003703}}
  #wwuheader #wwumenu {
    float: right;
    width: 41.66667%;
    margin-right: 58.33333%;
    margin-left: -100%;
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003708}}
  #header {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003712}}
  #header #collegeheader {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    position: relative;
    padding: 10px;
    background-color: #fff;
    height: 222px;
    margin-top: -100px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003720}}
  #header #collegeheader #navigation ul li ul {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003725}}
  #header #site-name {
    /* The name of the website */
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003728}}
  #header #site-name a:link,
  #header #site-name a:visited {
    color: #000;
    text-decoration: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003734}}
  #header #site-name a:hover,
  #header #site-name a:focus {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003739}}
  #main {
    clear: right;
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    width: 99%;
    margin: 0.5em .938em 4.250em .95em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003745}}
  #main header#department {
    border-bottom: solid 3px #E9E9E9;
  }

  /*
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003753}}
  #navigation {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003757}}
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: right;
    width: 75%;
    margin-right: 25%;
    margin-left: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003761}}
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003766}}
  #footer-left {
    float: right;
    width: 25%;
    margin-right: 0%;
    margin-left: -25%;
    padding: .688em 0em 1.25em 1.25em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003771}}
  #footer-center {
    float: right;
    width: 25%;
    margin-right: 25%;
    margin-left: -50%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003774}}
  #footer-right {
    float: right;
    margin-top: -1.813em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/drupal\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003779}}
  #mobileNavTrigger {
    display: none;
  }
}
