@import url(http://fonts.googleapis.com/css?family=Muli:400,400italic);
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* Basic CSS for WWU Styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/_base\.scss}line{font-family:\0000387}}
h1, h2, h3, h4, h5, h6 {
  font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: 'fontello';
  src: url("../../font/fontello.eot?84055489");
  src: url("../../font/fontello.eot?84055489#iefix") format("embedded-opentype"), url("../../font/fontello.woff?84055489") format("woff"), url("../../font/fontello.ttf?84055489") format("truetype"), url("../../font/fontello.svg?84055489#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * Center the page.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000356}}
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

/*
 * Containers for grid items and flow items.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000369}}
#page,
#footer {
  *position: relative;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000352}}
#page:before, #page:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000356}}
#page:after,
#footer:after {
  clear: both;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000386}}
#page,
#wwuheader,
#header,
#main,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 15px;
  padding-right: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  *behavior: url("/sites/all/themes/wwuzen/js/boxsizing.htc");
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
  padding-left: 0px;
  padding-right: 0px;
}

/* ****************************************************
                Navigation -> 800px
**************************************************** */
@media all and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000397}}
  #wwuheader {
    background-color: #003f87;
    height: 68px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003100}}
  #wwuheader a.wwuLogo h1 {
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -8.33333%;
    margin-bottom: -.375em;
    background: url("../../images/wwuhorizlogo.png") no-repeat;
    width: 320px;
    height: 74px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003107}}
  #wwuheader #mobileWWUmenu {
    float: right;
    background-color: #4b689c;
    height: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003112}}
  #wwuheader #menu-icons {
    padding: 0;
    margin: 0;
    width: 44px;
    height: 132px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    -webkit-box-shadow: -5px 0 15px -5px #333333;
    -moz-box-shadow: -5px 0 15px -5px #333333;
    box-shadow: -5px 0 15px -5px #333333;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003123}}
  #wwuheader .quick-links {
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003125}}
  #wwuheader .quick-links img {
    top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003127}}
  #wwuheader .icon-size {
    height: 44px;
    width: 44px;
    position: absolute;
    right: 0;
    z-index: 200;
    cursor: pointer;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003135}}
  #wwuheader #mobileNavTrigger {
    clear: right;
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
    background-color: #4b689c;
    width: 2.75em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003140}}
  #wwuheader #mobileNavTrigger img {
    top: 88px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003142}}
  #wwuheader .wwusearch {
    clear: right;
    float: right;
    width: 8.33333%;
    margin-right: 0%;
    margin-left: -8.33333%;
    z-index: 200;
    background-color: #4b689c;
    top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003148}}
  #wwuheader .wwusearch #search {
    clear: right;
    display: none;
    position: absolute;
    width: 19em;
    top: 68px;
    right: 44px;
    z-index: 100;
    margin-top: 0;
    -webkit-transition: width 0.25s;
    -moz-transition: width 0.25s;
    -o-transition: width 0.25s;
    transition: width 0.25s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003160}}
  #wwuheader #wwumenu {
    margin: 0;
    padding: .5em;
    background-color: #fff;
    list-style-type: none;
    position: absolute;
    width: 19em;
    height: 55px;
    right: 44px;
    top: 0;
    display: none;
    overflow: hidden;
    -webkit-box-shadow: #333333 0 0 8px;
    -moz-box-shadow: #333333 0 0 8px;
    box-shadow: #333333 0 0 8px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003173}}
  #wwuheader #wwumenu li {
    text-align: center;
    display: inline-block;
    padding: 0.17em 0.25em 0 0.25em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003177}}
  #wwuheader #wwumenu li:not(:first-child):before {
    content: "";
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003179}}
  #wwuheader #wwumenu li a {
    text-decoration: none;
    text-transform: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003184}}
  #wwuheader #wwumenu li a span:first-child {
    font-size: 1.825em;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    padding: 0;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003197}}
  #wwuheader #wwumenu li a span:last-child {
    display: block;
    font-size: .75em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003201}}
  #wwuheader #wwumenu li a:hover {
    color: #bad80a;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003209}}
  #logo, #logoImage {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003210}}
  #collegeheader {
    clear: left;
    z-index: -10;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0aa0ff), color-stop(100%, #0083d6));
    background: -webkit-linear-gradient(top, #0aa0ff, #0083d6);
    background: -moz-linear-gradient(top, #0aa0ff, #0083d6);
    background: -o-linear-gradient(top, #0aa0ff, #0083d6);
    background: linear-gradient(top, #0aa0ff, #0083d6);
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003214}}
  #collegeheader #name-and-slogan {
    float: left;
    width: 8.33333%;
    margin-left: 0%;
    margin-right: -8.33333%;
    padding: 0 0 0.5em 1.25em;
    font-family: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003218}}
  #collegeheader #name-and-slogan h1 {
    margin: 0.4em 0 0 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003220}}
  #collegeheader #site-name {
    /* The name of the website */
    display: block;
    width: 80%;
    font-size: 1.25em;
    text-align: left;
    padding: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003227}}
  #collegeheader #site-name a:link,
  #collegeheader #site-name a:visited {
    color: #fff;
    text-decoration: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003232}}
  #collegeheader #navigation {
    padding: 0;
    height: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003235}}
  #collegeheader #navigation #main-menu ul.menu {
    display: none;
    background-color: #E9E9E9;
    list-style-type: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003239}}
  #collegeheader #navigation #main-menu ul.menu a {
    text-decoration: none;
    color: #fff;
    padding: 0.7em 0 0.65em 1em;
    display: block;
    width: 83%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003246}}
  #collegeheader #navigation #main-menu ul.menu a:hover {
    color: #bad80a;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003251}}
  #collegeheader #navigation #main-menu ul.menu li {
    width: 100%;
    text-align: left;
    display: block;
    background-color: #003f87;
    margin-bottom: 1px;
    border: none;
    text-transform: none;
    font-size: .9em;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003263}}
  #collegeheader #navigation #main-menu ul.menu li ul {
    padding-left: 0;
    position: relative;
    background-color: #E9E9E9;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003267}}
  #collegeheader #navigation #main-menu ul.menu li ul li {
    background-color: #4b689c;
    margin-bottom: 1px;
    border: none;
    font-size: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003272}}
  #collegeheader #navigation #main-menu ul.menu li ul li ul li {
    background-color: #6f86af;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003274}}
  #collegeheader #navigation #main-menu ul.menu li ul li ul li ul li {
    background-color: #93a4c3;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003281}}
  #collegeheader #navigation #main-menu ul.menu li.expanded ul.menu li {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003287}}
  #collegeheader .expanded {
    background-image: url("../../images/icons/expandable-parent.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003288}}
  #collegeheader .opened {
    background-image: url("../../images/icons/opened-parent.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003290}}
  #collegeheader .expanded, #collegeheader .opened {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 44px 44px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003295}}
  #collegeheader .expanded .expanded, #collegeheader .opened .expanded {
    background-image: url("../../images/icons/expandable-first-child.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003296}}
  #collegeheader .expanded .opened, #collegeheader .opened .opened {
    background-image: url("../../images/icons/opened-first-child.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003299}}
  #collegeheader .expanded .expanded .expanded, #collegeheader .expanded .opened .expanded, #collegeheader .opened .expanded .expanded, #collegeheader .opened .opened .expanded {
    background-image: url("../../images/icons/expandable-grandchild.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003300}}
  #collegeheader .expanded .expanded .opened, #collegeheader .expanded .opened .opened, #collegeheader .opened .expanded .opened, #collegeheader .opened .opened .opened {
    background-image: url("../../images/icons/opened-grandchild.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003303}}
  #collegeheader .expanded .expanded .expanded .expanded, #collegeheader .expanded .expanded .opened .expanded, #collegeheader .expanded .opened .expanded .expanded, #collegeheader .expanded .opened .opened .expanded, #collegeheader .opened .expanded .expanded .expanded, #collegeheader .opened .expanded .opened .expanded, #collegeheader .opened .opened .expanded .expanded, #collegeheader .opened .opened .opened .expanded {
    background-image: url("../../images/icons/expandable-great-grandchild.png");
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003304}}
  #collegeheader .expanded .expanded .expanded .opened, #collegeheader .expanded .expanded .opened .opened, #collegeheader .expanded .opened .expanded .opened, #collegeheader .expanded .opened .opened .opened, #collegeheader .opened .expanded .expanded .opened, #collegeheader .opened .expanded .opened .opened, #collegeheader .opened .opened .expanded .opened, #collegeheader .opened .opened .opened .opened {
    background-image: url("../../images/icons/opened-great-grandchild.png");
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003310}}
  #main {
    clear: left;
    margin-top: 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003314}}
  #main header#department {
    border-bottom: none;
    padding: 0.9em 0 1em 0;
    margin-bottom: 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003319}}
  #main .breadcrumb {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003323}}
  #block-accordion-menu-1 {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003324}}
  #footer {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003325}}
  #footer-left {
    clear: left;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003326}}
  #footer-center {
    position: relative;
    margin-left: -.5em;
    padding: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003330}}
  #footer-center ul.menu {
    padding: 0 0 0 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003332}}
  #footer-center ul.menu li {
    font-size: .875em;
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003338}}
  #footer-right {
    clear: left;
    margin-top: 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003342}}
  #footer-right h3 {
    padding-left: .4em;
    padding-right: .4em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003347}}
  #footer-right #footer-right-social-media-icons {
    padding-left: .5em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003351}}
  #edit-subject {
    width: 100%;
  }
}
/* ****************************************************
                Mobile-size -> 360px
**************************************************** */
@media all and (max-width: 360px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003360}}
  #wwuheader .wwusearch #search {
    width: 16em;
    -webkit-transition: width 0.25s;
    -moz-transition: width 0.25s;
    -o-transition: width 0.25s;
    transition: width 0.25s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003363}}
  #wwuheader .wwusearch #search .form-submit {
    border-left: solid 1.75em white;
    box-shadow: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003366}}
  #footer-left {
    font-size: .875em;
    position: relative;
    margin-left: 1em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003372}}
  #footer-center {
    clear: left;
    margin-left: -1em;
    width: 98%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003376}}
  #footer-center ul.menu li {
    padding: 0.5em 0em;
    margin-left: 1em;
  }
}
/* ****************************************************
              Tablet-size 361px <--> 800px
**************************************************** */
@media all and (min-width: 361px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003390}}
  #footer-left {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003392}}
  #footer-center {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
    width: 69%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003395}}
  #footer-center ul.menu li {
    margin-top: .5em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003398}}
  #footer-right {
    float: right;
    width: 33.33333%;
    margin-right: 66.66667%;
    margin-left: -100%;
    margin-right: auto;
    margin-top: 0em;
    margin-left: 1em;
  }
}
/* ****************************************************
     Footer breakpoint (smaller) 360px <--> 480px
**************************************************** */
@media all and (min-width: 360px) and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003412}}
  #footer-center h3 {
    padding-left: 1em;
    padding-right: 1em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003417}}
  #footer-right-social-media-icons {
    padding-left: 1em;
  }
}
/* ****************************************************
     Footer breakpoint (smaller) 480px <--> 639px
**************************************************** */
@media all and (min-width: 480px) and (max-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003428}}
  #footer-left {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    font-size: .875em;
    position: absolute;
    margin-left: 1.5em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003435}}
  #footer-center {
    clear: left;
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-left: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003442}}
  #footer-center ul.menu {
    padding: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003444}}
  #footer-right {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003449}}
  #footer-right h3 {
    padding-left: 1em;
    padding-right: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003454}}
  #footer-right #footer-right-contact-info {
    clear: both;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003459}}
  #footer-right #footer-right-social-media-icons {
    float: left;
    width: 23.33333%;
    margin-left: 50%;
    margin-right: -73.33333%;
    padding-left: 15px;
    position: relative;
  }
}
/* ****************************************************
     Footer breakpoint (larger) 640px <--> 767px
**************************************************** */
@media all and (min-width: 640px) and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003474}}
  #site-name {
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003475}}
  #footer-wrapper {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003476}}
  #footer {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003477}}
  #footer-left {
    font-size: .875em;
    position: relative;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    margin-left: 1em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003483}}
  #footer-center {
    float: left;
    width: 33.33333%;
    margin-left: 50%;
    margin-right: -83.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003484}}
  #footer-right {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003487}}
  #footer-right h3 {
    padding-left: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003488}}
  #footer-right #footer-right-contact-info {
    clear: both;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003492}}
  #footer-right #footer-right-social-media-icons {
    float: left;
    width: 33.33333%;
    margin-left: 50%;
    margin-right: -83.33333%;
    padding-left: 15px;
    position: relative;
  }
}
/* ****************************************************
     Footer breakpoint (larger) 768px <--> 800px
**************************************************** */
@media all and (min-width: 768px) and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003507}}
  #footer-wrapper {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003508}}
  #footer {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003509}}
  #footer-left {
    font-size: .875em;
    position: relative;
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    margin-left: 1em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003516}}
  #site-name {
    position: static;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003518}}
  #footer-center {
    float: left;
    width: 30.0%;
    margin-left: 23.33333%;
    margin-right: -53.33333%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003519}}
  #footer-right {
    clear: none;
    float: left;
    width: 50%;
    margin-left: 56.66667%;
    margin-right: -106.66667%;
    margin-top: -1.813em;
    position: relative;
    width: 19.5em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003525}}
  #footer-right h3 {
    padding-left: .5em;
    padding-right: .5em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003529}}
  #footer-right #footer-right-social-media-icons {
    padding-left: .5em;
  }
}
/* ****************************************************
      Footer breakpoint (Over-size) 800px ->
**************************************************** */
@media all and (min-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003537}}
  #footer-right {
    width: 20.7em;
  }
}
/* ****************************************************
                Screens 801px ->
**************************************************** */
@media all and (min-width: 801px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003548}}
  #navigation #main-menu ul li {
    float: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003549}}
  #top-stripe {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    height: .375em;
    top: 0;
    z-index: 90;
    background-color: #0083d6;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003555}}
  #top-stripe #top-stripe-left, #top-stripe #top-stripe-center, #top-stripe #top-stripe-right {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003557}}
  #wwuheader {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    width: 240px;
    margin-bottom: .563em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003561}}
  #wwuheader #menu-icons {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 999;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003568}}
  #wwuheader #menu-icons .quick-links {
    position: absolute;
    top: 15px;
    left: 2em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003573}}
  #wwuheader #menu-icons .wwusearch {
    position: absolute;
    left: 26.5em;
    top: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003577}}
  #wwuheader #menu-icons .wwusearch #s-toggle {
    height: 44px;
    width: 44px;
    cursor: pointer;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003582}}
  #wwuheader #menu-icons .wwusearch #search {
    position: absolute;
    top: 44px;
    right: 0;
    margin-top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003589}}
  #wwuheader #menu-icons .quick-links-toggle, #wwuheader #menu-icons #mobileNavTrigger {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003590}}
  #wwuheader #menu-icons #wwumenu, #wwuheader #menu-icons #search {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003593}}
  #header {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    width: 98%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003597}}
  #header #collegeheader {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    position: relative;
    padding: 10px;
    background-color: #fff;
    height: 222px;
    margin-top: -90px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003604}}
  #header #collegeheader #navigation ul li ul {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003605}}
  #header #collegeheader #navigation #main-menu ul li {
    float: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003608}}
  #header #site-name {
    /* The name of the website */
    background-color: rgba(0, 131, 214, 0.8);
    position: absolute;
    bottom: 40px;
    right: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003615}}
  #main {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    width: 100%;
    margin: 0.5em 0em 4.25em 0em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003620}}
  #main header#department {
    border-bottom: solid 3px #e9e9e9;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003623}}
  #navigation {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003625}}
  .sidebar-first #content {
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003626}}
  .sidebar-first #block-accordion-menu-1 {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003627}}
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003629}}
  #footer {
    clear: both;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003630}}
  #footer-left {
    float: left;
    width: 25%;
    margin-left: 4.16667%;
    margin-right: -29.16667%;
    padding: 0.688em 0em 1.25em 1.25em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003634}}
  #footer-center {
    position: relative;
    float: left;
    width: 25%;
    margin-left: 31.25%;
    margin-right: -56.25%;
    padding: 0;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003640}}
  #footer-center ul.menu {
    padding: 0 0 0 15px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003643}}
  #footer-center ul.menu li {
    font-size: .8750em;
    display: block;
    padding: 0.5em 0 0 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003651}}
  #footer-right {
    float: right;
    margin-top: -1.813em;
    margin-right: 2em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003655}}
  #footer-right h3 {
    padding-left: 1em;
    padding-right: 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003659}}
  #footer-right #footer-right-social-media-icons {
    padding-left: 1em;
  }
}
/* ****************************************************
                Oversize 1000px ->
**************************************************** */
@media all and (min-width: 801px) and (max-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/wwuzen\/sites\/all\/themes\/wwuzen\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003670}}
  #wwuheader #menu-icons {
    width: 62%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}
