@import "panels";

main header.page-title {
  padding: 0;
}


@media all and (min-width: 650px) {

  .container-50-50--33-33-33 {
    @include zen-grid-container();
    $zen-column-count: 1;

    .top-row-50-50--33-33-33 {
      @include zen-grid-item(1,1);
      @include zen-nested-container();
    }

    .bottom-row-50-50--33-33-33 {
      @include zen-grid-item(1,1);
      @include zen-nested-container();
      @include zen-clear();
    }
  }

  .top-row-50-50--33-33-33 {
    $zen-column-count: 1;

    .top-left-50-50--33-33-33 {
      @include zen-grid-item(1,1);
    }

    .top-right-50-50--33-33-33 {
      @include zen-grid-item(1,2);
    }
  }

  .bottom-left-50-50--33-33-33 {
    $zen-column-count: 1;
    @include zen-grid-item(1,1);
  }

  .bottom-center-50-50--33-33-33 {
    $zen-column-count: 2;
    @include zen-grid-item(1,1);
    @include zen-clear();
  }

  .bottom-right-50-50--33-33-33 {
    $zen-column-count: 2;
    @include zen-grid-item(1,2);
    @include zen-clear(none);
  }

}

@media all and (min-width: 800px) {

  .top-row-50-50--33-33-33 {
    $zen-column-count: 2;

    .top-left-50-50--33-33-33 {
      @include zen-grid-item(1,1);
    }

    .top-right-50-50--33-33-33 {
      @include zen-grid-item(1,2);
    }

  }

  .bottom-row-50-50--33-33-33 {
    $zen-column-count: 3;

    div[class*="50-50--33-33-33"] {
      @include zen-clear(none);
    }

    .bottom-left-50-50--33-33-33 {
      @include zen-grid-item(1,1);
    }

    .bottom-center-50-50--33-33-33 {
      @include zen-grid-item(1,2);
    }

    .bottom-right-50-50--33-33-33 {
      @include zen-grid-item(1,3);
    }
  }

}
