@import "panels";
$tablet: 481px;
$desktop: 801px;

$zen-column-count: 4;

.wwu-100-percent {
  @include zen-clear();
  @include breakpoint($desktop) {
    @include zen-grid-item(4,1);
  }
}

.wwu-75-percent-left-column {
  @include zen-clear();
  @include breakpoint($desktop) {
    @include zen-grid-item(3,1);
  }
}

.wwu-25-percent-right-column {
  @include breakpoint($desktop) {
    @include zen-grid-item(1,4);
  }
}

.wwu-4-col-container {
  @include zen-clear();
  @include breakpoint($tablet) {
    .col-1, .col-3 {
      @include zen-clear();
      @include zen-grid-item(2,1); 
    }
    .col-2, .col-4 {
      @include zen-grid-item(2,3);
    }
  }
  @include breakpoint($desktop) {
    .col-1 {
      @include zen-grid-item(1,1);
    }
    .col-2 {
      @include zen-grid-item(1,2);
    }
    .col-3 {
      @include zen-clear(none);
      @include zen-grid-item(1,3);
    }
    .col-4 {
      @include zen-grid-item(1,4);
    }
  }
}
