/**
* These are the layout styles for the clean-75-25 panel
*/
@import "panels";

@media all {
  .wwu-75-percent-left-column {
    $zen-column-count: 4;
    $zen-gutter-width: 30px;
    @include zen-grid-item(3,1);
    @include zen-nested-container();
  }

  .wwu-25-percent-right-column {
    $zen-column-count: 4;
    $zen-gutter-width: 30px;
    @include zen-grid-item(1,4);
  }
}

@media all and (max-width: 800px) {
  .wwu-75-percent-left-column {
    $zen-column-count:1;
    @include zen-clear(left);
    @include zen-grid-item(1,1);
    @include zen-nested-container();
  }

  .wwu-25-percent-right-column {
    $zen-column-count:1;
    @include zen-clear(left);
    @include zen-grid-item(1,1);
  }
}
