/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";


// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12; // was 5
$zen-gutter-width:  30px; // was 20px 


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
     $box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

/*
 * Center the page.
 */

#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

/*
 * Containers for grid items and flow items.
 */

#page,
#footer {
  @include zen-grid-container();
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#page,
#wwuheader,
#header,
#main,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  @include zen-grid-item-base();
  padding-left:0px;
  padding-right:0px;
}


@media all and (max-width:360px) {
  $zen-column-count: 1;

#wwuheader {

    a.mobile {
      @include zen-grid-item(1,1,left);
      margin-bottom:-.375em;
      background-color:rgb(75, 104, 156);
    }
    .desktop {
      display:none;
    }
    #mobileWWUmenu {
      @include zen-grid-item(1,1,right);
      background-color:rgb(75, 104, 156);
      width:2.75em;
      height:100%;
    }
    .wwusearch {
      @include zen-clear(right);
      @include zen-grid-item(1,1,right);
      position: relative;
      z-index: 20;
      background-color:rgb(75, 104, 156);  
      width:2.75em;  
      top:0%;
    }
    #search {
      position: relative;
      right: 0;
      top: 2.5em;
      width: 18.55em;
    }
    ul#wwumenu {
      font-size: 1em;
      margin: 0;
      padding: 0;
      position: relative;
      background-color:$wwuBlue;
      display:block;
      list-style-type:none;
      top: 62px;
      width: 100%;
      display:none;
      height:16.7em;
        
        li {
          display:block;
          background-color:$wwuBlue;
          border-bottom:solid 1px #E9E9E9;
          padding:.5em .6em;
          a {
            text-decoration:none;
            color:#fff;
            font-size:.9em;
            text-transform:none;
            @include transition(1s);
              &:hover {
                color:$wwuLime;
                @include transition(.2s);
              }
          }
        }
       .wwulinks:not(:first-child):before {
          content:"";
        }
    }   
}

  #logo, #logoImage{
    display:none;
  }
  #collegeheader {
    @include zen-clear();
    position:relative;
    @include background(linear-gradient(top, lighten($wwuLtblue, 10%), $wwuLtblue));
    #name-and-slogan {
      @include zen-grid-item(1,1);
      padding: 0 0 0 1.25em;
      font-family:$muli;
      width:93%;
    }

    #site-name { /* The name of the website */
      display:block; //college name is shown as part of image on banner
      width:80%; //Prevents the name from sliding under the mobile nav at 360px wide
      a:link,
        a:visited {
          color: #fff;
          text-decoration: none;
        }
    }

    #mobileNavTrigger{
      @include zen-clear(right);
      @include zen-grid-item(1,1,right);
      background-color:rgb(75, 104, 156);
      width:2.75em;
    }
    #navigation {
      padding:0;
      height:0;
    #main-menu ul.menu {
      display:none;
      background-color:#E9E9E9;
      list-style-type:none;
        a {
          text-decoration:none;
          color:#fff;
          padding: .7em 0 .65em 1em;
          display:block;
          width:83%;
          @include transition(1s);
            &:hover {
              color:$wwuLime;
              @include transition(.2s);
              }
            }
        li {
          width: 100%;
          text-align: left; 
          display:block;
          background-color:$wwuBlue;
          margin-bottom:1px;
          border:none;
          text-transform:none;
          font-size:.9em;
          padding-top:0;
          padding-bottom:0;
          @include transition(.25s);
          ul {
                padding-left:0;
                position: relative;
                background-color:#E9E9E9;
                li {
                  background-color:$wwuGrayBlue;
                  margin-bottom:1px;
                  border:none;
                  font-size:1em;
                  ul li {
                    background-color:tint($wwuGrayBlue, 20%);
                    ul li {
                      background-color:tint($wwuGrayBlue, 40%);
                    }
                  }
                }
              }          
          }

          li.expanded ul.menu li { display: none; }
        }
      }

  @mixin nav-icons($fileName) {
    background-image:url("../../images/icons/#{$fileName}.png");
  }

  .expanded { @include nav-icons(expandable-parent); }
    .opened { @include nav-icons(opened-parent); }

  .expanded, .opened {
    background-repeat: no-repeat;
    background-position:right top;
    background-size:44px 44px;
    @include transition(11s);

      .expanded { @include nav-icons(expandable-first-child); }
      .opened { @include nav-icons(opened-first-child); }

      .expanded, .opened {
        .expanded { @include nav-icons(expandable-grandchild); }
        .opened { @include nav-icons(opened-grandchild); }

        .expanded, .opened {
          .expanded { @include nav-icons(expandable-great-grandchild); }
          .opened { @include nav-icons(opened-great-grandchild); }
          }
        }
      }
    }
  //End college header 

  #main {
    @include zen-clear();
    @include zen-grid-item(1,1, right);
    margin-top:0em;

    header#department {
      border-bottom:none;
      padding:.9em 0 1em 0;
      margin-bottom:0em;
    }
    .breadcrumb {
      display: none;
    }

  }

//Hide the navigation that moves to the bottom of the page.
  #block-accordion-menu-1 {
    display:none;
  }
  #footer {
    @include zen-clear(both);
  }
  #footer-left {
    display:none;
  }

  #footer-center {
      position: relative;
      @include zen-clear();
      margin-left:-.5em;
      padding: 0px 0px 0px 0px;
      width:98%;

      ul.menu {
        padding: 0px 0px 0px 15px;

        li {
          font-size:1.6em; //We have to go bigger because the base font size for the footer is .625
          display: block;
          padding: 0.5em 0.6em;
        }
      }
    }


  #footer-right {
    @include zen-clear();
    margin-top:0em;
    margin-right: 1em;
    margin-left:1em;
  }

  //Override of normalize.scss for the comment subject input area 
  #edit-subject {
    width: 100%;
  }


  #mobileWWUmenu, .wwusearch, #mobileNavTrigger {
    &:before {
        content:' ';
        display:block;
        width:5px;
        background-image:url("../../images/drop-shadow.png");
        background-repeat: repeat-y;
        height:50px;
        position:absolute;
        right:44px;
      }
    }
}

@media all and (min-width: 361px) and (max-width: 800px) {

  $zen-column-count: 3;

#wwuheader {
    a.mobile {
      @include zen-grid-item(3,1);
      margin-bottom:-.375em;
      //background-color:rgb(75, 104, 156);
      background-color:$wwuBlue;
    }
    .desktop {
      display:none;
    }
    #mobileWWUmenu {
      float:right;
      background-color:rgb(75, 104, 156);
      width:2.75em;
      height:100%;
    }
    .wwusearch {
      @include zen-clear(right);
      float:right;
      position: relative;
      z-index: 20;
      background-color:rgb(75, 104, 156);  
      width:2.75em;  
      top:0%;
    }
    #search {
      position: relative;
      right: 0;
      top: 2.5em;
      width: 18.55em;
    }
    ul#wwumenu {
      font-size: 1em;
      margin: 0;
      padding: 0;
      position: relative;
      background-color:$wwuBlue;
      text-transform:uppercase;
      display:block;
      list-style-type:none;
      top: 62px;
      width: 100%;
      display:none;
      height:16.7em;
        
        li {
          display:block;
          background-color:$wwuBlue;
          border-bottom:solid 1px #E9E9E9;
          padding:.5em .6em;

          a {
          text-decoration:none;
          color:#fff;
          @include transition(1s);
            &:hover {
              color:$wwuYellow;
              @include transition(.2s);
              }
          }
        }
       .wwulinks:not(:first-child):before {
          content:"";
        }
    }
}

  #logo, #logoImage{
    display:none;
  }
  #collegeheader {
    @include zen-clear();
    @include background(linear-gradient(top, #319bde, $wwuLtblue));
    
    #name-and-slogan {
      @include zen-grid-item(2,1);
      font-family:$muli;
      padding:0 0 0 1.25em;
    }

    #site-name { /* The name of the website */
      display:block; //college name is shown as part of image on banner
      width:80%; //Prevents the name from sliding under the mobile nav at 360px wide
      a:link,
        a:visited {
          color: #fff;
          text-decoration: none;
        }
    }

    #mobileNavTrigger{
      @include zen-clear(right);
      float:right;
      background-color:rgb(75, 104, 156);
      width:2.75em;
    }
    #navigation {
      padding:0;
      height:0;
    #main-menu ul.menu {
      display:none;
      background-color:$wwuBlue;
      text-transform:uppercase;
      list-style-type:none;
        a {
          text-decoration:none;
          color:#fff;
          @include transition(1s);
            &:hover {
              color:$wwuYellow;
              @include transition(.2s);
              }
            }
        li {
          width: 100%;
          text-align: left; 
          display:block;
          background-color:$wwuBlue;
          padding: .5em 0em;
          border-bottom:solid 1px #E9E9E9;
          a {
            padding: .5em;
          }

          ul {
                width: 98%;
                padding-left: 2%;
                li {
                  background-color: $wwuGrayBlue;
                  border-bottom: solid 1px #E9E9E9;
                }
                position: relative;
              }
                      
          }

          li.expanded ul.menu li {
                display: none;
          }
        }
      }
    } //End college header 




  #main {
    @include zen-clear();
    @include zen-grid-item(3,1);
    margin-top:0em;

    header#department {
      border-bottom:none;
      padding:.9em 0 1em 0;
      margin-bottom:0em;
    }
    .breadcrumb {
      display: none;
    }

  }
//Hide the navigation that moves to the bottom of the page.
  #block-accordion-menu-1 {
    display:none;
  }
  #footer {
    @include zen-clear(both);
  }  
  #footer-left {
    display:none;
  }

  #footer-center {
      position: relative;
      @include zen-clear();
      margin-left:-.5em;
      padding: 0px 0px 0px 0px;
      width:69%;

      ul.menu {
        padding: 0px 0px 0px 15px;

        li {
          font-size:1.6em; //We have to go bigger because the base font size for the footer is .625
          display: block;
          padding: 0.5em 0.6em;
        }
      }
    }


  #footer-right {
    @include zen-clear();
    @include zen-grid-item(2,1);
    margin-top:0em;
    margin-left:1em;
  }
  //Override of normalize.scss for the comment subject input area 
  #edit-subject {
    width: 100%;
  }

}

@media all and (min-width:480px) and (max-width: 639px) {
  #footer {
    @include zen-clear(both);
  }

  #footer-left {
    display:none;
  }
  #footer-center {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:67%;

    ul.menu {
      padding:0;
    }
  }
  #footer-right {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:66.6667%;
    float:none;
  }
  
}

@media all and (min-width:640px) and (max-width: 800px) {
  $zen-column-count: 3;

 #footer-wrapper {
  @include zen-grid-item(3,1);
 }
  #footer {
    @include zen-clear(both);
  } 
  #footer-left {
    display:none;

  }
  #footer-center {
    position: relative;
    @include zen-grid-item(1,1,left);
    width:45%;
    margin-right:0%;
  }
  #footer-right {
    @include zen-clear(none);
    float:none;
    @include zen-grid-item(1,2);
      margin-top:-1.813em;
      margin-left:7.333%;
  }

}




@media all and (min-width: 801px) {
  /*
   * Use 12 grid columns for larger screens.
   */
  $zen-column-count: 12;


  #top-stripe {
    @include zen-grid-item(12,1);
    height: .375em;
    top: 0;
    z-index: 90;
    background-color:$wwuLtblue;

    #top-stripe-left, #top-stripe-center, #top-stripe-right {
    display: none;
    }
  }

  #wwuheader {
     @include zen-grid-item(12,1);
        margin-bottom:.563em;


    img.wwuLogo {
      z-index: 200;
      margin: -6px 0 0 20px;
      position:relative;
    }

      .mobile { display:none;}

    aside.wwusearch {
      @include zen-grid-item(1,12);
      margin-top:-.313em;
      width:2.750em;
    }
    #search {
      width:17.15em;
      position:absolute;
      top:4em;
      right:7.4em;
    }
    #mobileWWUmenu {
      display:none;
    }
    #wwumenu {
      @include zen-grid-item(5,7);
      display: block;
    }
  }
  #header {
    @include zen-clear();
    @include zen-grid-item(12,1);
    width:98%;
    
    #collegeheader {
    @include zen-grid-item(12,1);
    position:relative;
    padding: 10px;
    background-color: #fff;
    height: 222px; //extend white background below menu
    margin-top: -100px; //slide college logo (banner) right under wwu logo

    #navigation ul li ul {
      display:none;
    }
}

#site-name { /* The name of the website */
  display:none; //college name is shown as part of image on banner
  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    }
  }
}
  #main {
    @include zen-clear();
    @include zen-grid-item(12,1);
    width:100%;
    margin: 0.5em 0em 4.250em 0em;

    header#department {
      border-bottom:solid 3px #E9E9E9;
    }
  }
  
  /*
   * The layout when there is only one sidebar, the left one.
   */
   #navigation{
    @include zen-grid-item(12,1);
   }
  .sidebar-first {
    #content { /* Span 4 columns, starting in 2nd column from left. */
      @include zen-grid-item(8, 5);
    }

//Show the sidebar navigation
#block-accordion-menu-1{
  display:block;
}

    .region-sidebar-first { /* Span 1 column, starting in 1st column from left. */
      @include zen-grid-item(3, 1);
    }
  }

  #footer {
    @include zen-clear(both);
  }

  #footer-left {
    @include zen-grid-item(3,1);
    padding: .688em 0em 1.25em 1.25em;

  }
  #footer-center {
    position:relative;
    @include zen-grid-item(3,5);
      padding: 0px 0px 0px 0px;
      margin-right:0;

      ul.menu {
        padding: 0px 0px 0px 15px;

        li {
          font-size:1.6em; //We have to go bigger because the base font size for the footer is .625
          display: block;
          padding: 0.5em 0.6em;
        }
      }
    }

  #footer-right {
      float:right;
      margin-top:-1.813em;
      margin-right:2em;
  }

  #mobileNavTrigger {
    display: none;
  }

}
