/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "base";

@font-face {
  font-family: 'fontello';
  src: url("../../font/fontello.eot?84055489");
  src: url("../../font/fontello.eot?84055489#iefix") format('embedded-opentype'), url("../../font/fontello.woff?84055489") format('woff'), url("../../font/fontello.ttf?84055489") format('truetype'), url("../../font/fontello.svg?84055489#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

// We are going to create a 980px wide, 5 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$zen-column-count:  12; // was 5
$zen-gutter-width:  30px; // was 20px


// IE6-7 don't support box-sizing: border-box. We can fix this in 1 of 3 ways:
// - Drop support for IE 6/7. :-) In the _base.scss, set $legacy-support-for-ie6
//   and $legacy-support-for-ie7 to false.
// - (Preferred) Install the box-sizing polyfill and set the variable below to
//   the absolute path URL to the boxsizing.htc file.
//   @see https://github.com/Schepp/box-sizing-polyfill
     $box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";
// - Use the same CSS unit for grid width and gutter width (use px for both or
//   use % for both, etc.) and set the box-sizing variable to content-box.
//   $zen-box-sizing: content-box;


// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Receiving errors about mixins not at the root of the document, so I moved these --SC

  @mixin nav-icons($fileName) {
    background-image:url("../../images/icons/#{$fileName}.png");
  }

/*
 * Center the page.
 */

#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

/*
 * Containers for grid items and flow items.
 */

#page,
#footer {
  @include zen-grid-container();
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
// See the note about $zen-auto-include-item-base above.

#page,
#wwuheader,
#header,
#main,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  @include zen-grid-item-base();
  padding-left:0px;
  padding-right:0px;
}

/* ****************************************************
                Navigation -> 800px
**************************************************** */

@media all and (max-width: 800px) {
#wwuheader {
  background-color:$wwuBlue;
  height:68px;
  a.wwuLogo h1 {
    @include zen-grid-item(1,1,left);
    margin-bottom:-.375em;
    background: url('../../images/wwuhorizlogo.png') no-repeat;
    width: 320px;
    height: 74px;
  }
  #mobileWWUmenu {
    float:right;
    background-color:rgb(75, 104, 156);
    height:100%;
  }
  #menu-icons {
    padding:0;
    margin:0;
    width:44px;
    height:44 * 3px;
    position:absolute;
    top:0;
    right:0;
    z-index:200;
    @include box-shadow(-5px 0 15px -5px #333);
  }
  .quick-links {
    width:100%;
    img { top:0; }
  }
  .icon-size {
    height:44px;
    width:44px;
    position:absolute;
    right:0;
    z-index:200;
    cursor:pointer;
  }
  #mobileNavTrigger{
    @include zen-clear(right);
    @include zen-grid-item(1,1,right);
    background-color:rgb(75, 104, 156);
    width:2.75em;
    img { top:88px; }
  }
  .wwusearch {
    @include zen-clear(right);
    @include zen-grid-item(1,1,right);
    z-index: 200;
    background-color:rgb(75, 104, 156);
    top:0;
    #search {
      @include zen-clear(right);
      display:none;
      position: fixed;
      top:68px;
      right:44px;
      z-index:100;
      margin-top:0;
    }
  } // End .wwusearch
  #wwumenu {
    margin: 0;
    padding:.5em;
    background-color:#fff;
    list-style-type:none;
    position:fixed;
    height:55px;
    right:44px;
    top:0;
    display:none;
    overflow:hidden;
    @include box-shadow(#333 0 0 8px);
    li {
      text-align:center;
      display:inline-block;
      padding:.17em .25em 0 .25em;
      &:not(:first-child):before { content:""; }
      //&:nth-child(4) { padding:.17em .5em 0 .5em; }
      a {
        text-decoration:none;
        text-transform:none;
        @include transition(1s);
        padding:0;
        span:first-child {
          font-size:1.825em;
          font-family: 'fontello';
          font-style: normal;
          font-weight: normal;
          speak: none;
          display: inline-block;
          text-decoration: inherit;
          padding:0;
          font-variant: normal;
          text-transform: none;
          line-height: 1em;
        }
        span:last-child {
          display:block;
          font-size:.75em;
        }
        &:hover {
          color:$wwuLime;
          @include transition(.2s);
        }
      } // End a
    } // End li
  } // End #wwumenu
} // End #wwuheader
  #logo, #logoImage { display:none; }
  #collegeheader {
    @include zen-clear();
    z-index:-10;
    @include background(linear-gradient(top, lighten($wwuLtblue, 10%), $wwuLtblue));
    #name-and-slogan {
      @include zen-grid-item(1,1);
      padding: 0 0 .5em 1.25em;
      font-family:$muli;
      h1 { margin:0.4em 0 0 0; }
    }
    #site-name { /* The name of the website */
      display:block; //college name is shown as part of image on banner
      width:80%; //Prevents the name from sliding under the mobile nav at 360px wide
      font-size:1.25em;
      text-align:left;
      padding:0;
        a:link,
        a:visited {
          color: #fff;
          text-decoration: none;
        }
    } // End #site-name
    #navigation {
      padding:0;
      height:100%;
      #main-menu ul.menu {
        display:none;
        background-color:#E9E9E9;
        list-style-type:none;
        a {
          text-decoration:none;
          color:#fff;
          padding: .7em 0 .65em 1em;
          display:block;
          width:83%;
          @include transition(1s);
          &:hover {
            color:$wwuLime;
            @include transition(.2s);
          }
        }
        li {
          width: 100%;
          text-align: left;
          display:block;
          background-color:$wwuBlue;
          margin-bottom:1px;
          border:none;
          text-transform:none;
          font-size:.9em;
          padding-top:0;
          padding-bottom:0;
          @include transition(.25s);
          ul {
            padding-left:0;
            position: relative;
            background-color:#E9E9E9;
            li {
              background-color:$wwuGrayBlue;
              margin-bottom:1px;
              border:none;
              font-size:1em;
              ul li {
                background-color:tint($wwuGrayBlue, 20%);
                ul li {
                  background-color:tint($wwuGrayBlue, 40%);
                }
              }
            } // End li
          } // End ul
        } // End li
        li.expanded ul.menu li { display: none; }
      } // End #main-menu ul.menu
    } // End #navigation

  @mixin nav-icons($fileName) { background-image:url("../../images/icons/#{$fileName}.png"); }

  .expanded { @include nav-icons(expandable-parent); }
    .opened { @include nav-icons(opened-parent); }

  .expanded, .opened {
    background-repeat: no-repeat;
    background-position:right top;
    background-size:44px 44px;

      .expanded { @include nav-icons(expandable-first-child); }
      .opened { @include nav-icons(opened-first-child); }

      .expanded, .opened {
        .expanded { @include nav-icons(expandable-grandchild); }
        .opened { @include nav-icons(opened-grandchild); }

        .expanded, .opened {
          .expanded { @include nav-icons(expandable-great-grandchild); }
          .opened { @include nav-icons(opened-great-grandchild); }
          }
        }
      } // End .expanded, .opened
    } //End college header

  #main {
    @include zen-clear();
    //@include zen-grid-item(1,1, right);
    margin-top:0em;
    header#department {
      border-bottom:none;
      padding:.9em 0 1em 0;
      margin-bottom:0em;
    }
    .breadcrumb { display: none; }
  } // End #main

//Hide the navigation that moves to the bottom of the page.
  #block-accordion-menu-1 { display:none; }
  #footer { @include zen-clear(both); }
  #footer-left { @include zen-clear(); }
  #footer-center {
    position: relative;
    margin-left:-.5em;
    padding: 0;
    ul.menu {
      padding: 0 0 0 15px;
      li {
        font-size:.875em;
        display: block;
      }
    }
  }
  #footer-right {
    @include zen-clear();
    margin-top:0em;

    h3 {
      padding-left:.4em;
      padding-right:.4em;
    }

    #footer-right-social-media-icons {
      padding-left:.5em;
    }
  }
  #edit-subject { width: 100%; } // Override of normalize.scss for the comment subject input area
}

/* ****************************************************
                Mobile-size -> 360px
**************************************************** */

@media all and (max-width:360px) {
  $zen-column-count: 1;
  #wwuheader .wwusearch #search {
    width:15.75em;
    .form-submit { border-left: solid 1.75em white; box-shadow:none; }
  }

  #footer-left {
    font-size: .875em;
    position: relative;
    margin-left:1em;
  }

  #footer-center {
    @include zen-clear();
    margin-left:-1em;
    width:98%;
    ul.menu li {
      padding: 0.5em 0em;
      margin-left:1em;
    }
  }
}
/* ****************************************************
              Tablet-size 361px <--> 800px
**************************************************** */

@media all and (min-width: 361px) and (max-width: 800px) {

  $zen-column-count: 3;

  #footer-left { @include zen-grid-item(1, 1) }

  #footer-center {
    @include zen-grid-item(1,2);
    width:69%;
    ul.menu li { margin-top:.5em; }
  }

  #footer-right {
    @include zen-grid-item(1,3, right);
    margin-right: auto;
    margin-top:0em;
    margin-left:1em;
  }
}

/* ****************************************************
     Footer breakpoint (smaller) 360px <--> 480px
**************************************************** */

@media all and (min-width:360px) and (max-width:480px) {

  #footer-center h3 {
    padding-left:1em;
    padding-right:1em;
  }

  #footer-right-social-media-icons {
    padding-left:1em;
  }
}

/* ****************************************************
     Footer breakpoint (smaller) 480px <--> 639px
**************************************************** */

@media all and (min-width:480px) and (max-width: 639px) {

  #footer-left {
    @include zen-grid-item(2,1, left);
    font-size: .875em;
    position: relative;
    margin-left: 1em;

  }
  #footer-center {
    @include zen-clear(left);
    @include zen-grid-item(2,1, left);
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin-left: 1em;
    ul.menu { padding:0; }
  }
  #footer-right {
    @include zen-clear(both);
    @include zen-grid-item(3,1);
    position:relative;

    h3 {
      padding-left:1em;
      padding-right:1em;
    }

    #footer-right-contact-info {
      @include zen-clear(both);
      @include zen-grid-item(1.5,1,left);
    }

    #footer-right-social-media-icons {
      @include zen-grid-item(.7,2.5,left);
      padding-left: 15px;
      position: relative;
    }
  }
}

/* ****************************************************
     Footer breakpoint (larger) 640px <--> 767px
**************************************************** */

@media all and (min-width:640px) and (max-width: 767px) {

  $zen-column-count: 3;
  #site-name { position:static; }
  #footer-wrapper { @include zen-clear(both); }
  #footer { @include zen-grid-item(3,1); }
  #footer-left {
    font-size: .875em;
    position: relative;
    @include zen-grid-item(1.5,1,left);
    margin-left:1em;
  }
  #footer-center { @include zen-grid-item(1,2.5,left); }
  #footer-right {
    @include zen-clear(both);
    @include zen-grid-item(3,1);
    h3 { padding-left:1em; }
    #footer-right-contact-info {
      @include zen-clear(both);
      @include zen-grid-item(1.5,1,left);
    }
    #footer-right-social-media-icons {
      @include zen-grid-item(1,2.5,left);
      padding-left: 15px;
      position: relative;
    }
  }
}

/* ****************************************************
     Footer breakpoint (larger) 768px <--> 800px
**************************************************** */

@media all and (min-width:768px) and (max-width: 800px) {
  $zen-column-count: 3;

  #footer-wrapper { @include zen-clear(both); }
  #footer { @include zen-grid-item(3,1); }
  #footer-left {
    font-size: .875em;
    position: relative;
    @include zen-grid-item(.6,1,left);
    margin-left:1em;
  }

  #site-name { position:static; }

  #footer-center { @include zen-grid-item(.9,1.7,left); }
  #footer-right {
    @include zen-clear(none);
    @include zen-grid-item(1.5,2.7, left);
    margin-top:-1.813em;
    position: relative;
    width:19.5em;
    h3 {
      padding-left:.5em;
      padding-right:.5em;
    }
    #footer-right-social-media-icons { padding-left:.5em; }
  }
}
/* ****************************************************
      Footer breakpoint (Over-size) 800px ->
**************************************************** */

@media all and (min-width: 800px) {
  #footer-right { width:20.7em; }
}

/* ****************************************************
                Screens 801px ->
**************************************************** */

@media all and (min-width: 801px) {
  // Use 12 grid columns for larger screens.
  $zen-column-count: 12;

  #top-stripe {
    @include zen-grid-item(12,1);
    height: .375em;
    top: 0;
    z-index: 90;
    background-color:$wwuLtblue;
    #top-stripe-left, #top-stripe-center, #top-stripe-right { display: none; }
  }
  #wwuheader {
    @include zen-grid-item(12,1);
    width:240px;
    margin-bottom:.563em;
    #menu-icons {
      width:50%;
      position:absolute;
      top:0;
      right:0;
      @include transition(.5s);
      z-index:999;
      .quick-links {
        position:absolute;
        top:15px;
        left:2em;
      }
      .wwusearch {
        position:absolute;
        left:26.5em;
        top:5px;
        #s-toggle {
          height:44px;
          width:44px;
          cursor:pointer;
        }
        #search {
          position:absolute;
          top:44px;
          right:0;
          margin-top:0;
        }
      }
      .quick-links-toggle, #mobileNavTrigger { display:none; }
      #wwumenu, #search { display:block; }
    }
  } // End #wwuheader
  #header {
    @include zen-clear();
    @include zen-grid-item(12,1);
    width:98%;
    #collegeheader {
      @include zen-grid-item(12,1);
      position:relative;
      padding: 10px;
      background-color: #fff;
      height: 222px; //extend white background below menu
      margin-top: -90px; //slide college logo (banner) right under wwu logo
      #navigation ul li ul { display:none; }
      #navigation #main-menu ul li { float:none; }
    } // End #collegeheader

  #site-name { /* The name of the website */
    background-color:rgba($wwuLtblue, .8);
    position:absolute;
    bottom:40px;
    right:10px;
    }
  } // End #header
  #main {
    @include zen-clear();
    @include zen-grid-item(12,1);
    width:100%;
    margin: 0.5em 0em 4.250em 0em;
    header#department { border-bottom:solid 3px #E9E9E9; }
  } // End #main

  #navigation{ @include zen-grid-item(12,1); } //The layout when there is only one sidebar, the left one.
  .sidebar-first {
    #content { @include zen-grid-item(8, 5); } // Span 4 columns, starting in 2nd column from left.
    #block-accordion-menu-1{ display:block; } //Show the sidebar navigation
    .region-sidebar-first {  @include zen-grid-item(3, 1); } // Span 1 column, starting in 1st column from left.
  } // End .sidebar-first
  #footer { @include zen-clear(both); }
  #footer-left {
    @include zen-grid-item(3,1.5);
    padding: .688em 0em 1.25em 1.25em;
  }
  #footer-center {
    position:relative;
    @include zen-grid-item(3,4.75);
      padding: 0;
      margin-right:0;

      ul.menu {
        padding: 0 0 0 15px;

        li {
          font-size:.8750em;
          display: block;
          padding: 0.5em 0 0 0;
        }
      }
    }
   // End #footer-center
  #footer-right {
    float:right;
    margin-top:-1.813em;
    margin-right:2em;
    h3 {
      padding-left:1em;
      padding-right:1em;
    }
    #footer-right-social-media-icons { padding-left:1em; }
  }
}
/* ****************************************************
                Oversize 1000px ->
**************************************************** */


@media all and (min-width: 801px) and (max-width: 1000px) {
  // Use 12 grid columns for larger screens.
  $zen-column-count: 12;
  #wwuheader #menu-icons { width:62%; @include transition(.5s); }
}
