/**
 * These are the layout styles for the 25-50-25 panel layout
 */

@import "panels";

$display-small: 320px;
$display-medium: 700px;
$display-large: 900px;

@media all {
  .container-25-50-25 {
    @include zen-grid-container();
    $zen-column-count: 1 !global;
    $zen-gutter-width: 0 !global;

    .layout-25-50-25 {
      @include zen-grid-item(1, 1);
      @include zen-clear();
    }
  }
}

@media all and (min-width: $display-small) {

}

@media all and (min-width: $display-medium) {
  .container-25-50-25 {
    @include zen-grid-container();
    $zen-column-count: 3 !global;
    $zen-gutter-width: 1.5em !global;

    .layout-25-50-25 {
      @include zen-clear(none);
    }

    .left-column-25-50-25 {
      @include zen-grid-item(1, 1);
    }

    .middle-column-25-50-25 {
      @include zen-grid-item(2, 2);
    }

    .right-column-25-50-25 {
      @include zen-grid-item(2, 2);
      @include zen-clear();
    }
  }
}

@media all and (min-width: $display-large) {
  .container-25-50-25 {
    @include zen-grid-container();
    $zen-column-count: 4 !global;
    $zen-gutter-width: 1.5em !global;

    .layout-25-50-25 {
      @include zen-clear(none);
    }

    .left-column-25-50-25 {
      @include zen-grid-item(1, 1); 
    }

    .middle-column-25-50-25 {
      @include zen-grid-item(2, 2);
    }

    .right-column-25-50-25 {
      @include zen-grid-item(1, 4);
    }
  }
}
