@import "panels";

$zen-column-count: 12 !global;
$zen-gutter-width: 0 !global;

/**
 * Largest setting above 1025 px - Desktop
 */
@media all and (min-width: 1025px) {

  .top-row-wrapper {
    @include zen-clear(both);
  }

  div.topleft {
    @include zen-grid-item(4, 1);
  }

  div.top {
    @include zen-grid-item(4, 5);
  }

  div.topright {
    @include zen-grid-item(4, 9);
  }

  .middle-row-wrapper {
    @include zen-clear(both);

    .middleleft{
      @include zen-grid-item(8, 1);
    }

    .middleright {
      @include zen-grid-item(4, 9);
    }
  }

  .bottom-row-wrapper {
    @include zen-grid-container();
    @include zen-clear(both);

    .bottomleft {
      @include zen-grid-item(6, 1);
      padding-right:2em;
    }

    .bottomright {
      @include zen-grid-item(6, 7);
    }
  }
}

/**
 * Tablet
 */
@media all and (min-width: 700px) and (max-width: 1024px) {

  .topleft {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }

  .top {
    @include zen-grid-item(6, 1);
    @include zen-clear(left);
  }

  .topright {
    @include zen-grid-item(6, 7);
    @include zen-clear(right);
  }

  .middleleft{
    @include zen-grid-item(8, 1);
    @include zen-clear(both);
  }

  .middleright {
    @include zen-grid-item(3, 10);
  }

  .bottom-row-wrapper {
    @include zen-grid-container();
    @include zen-clear(both);

    .bottomleft {
      @include zen-grid-item(6, 1);
      padding-right:2em;
    }

    .bottomright {
      @include zen-grid-item(6, 7);
    }
  }
}

@media all and (max-width: 900px) {

  .middleleft {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }

  .middleright {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }
}

/*
 * Mobile styles
 */
@media all and (max-width: 699px) {

  .top {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }

  .topright {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }

  .bottomleft {
    @include zen-grid-item(12, 1);
    padding-right:2em;
    @include zen-clear(both);
  }

  .bottomright {
    @include zen-grid-item(12, 1);
    @include zen-clear(both);
  }
}
