/**
* These are the layout styles for the clean-cst panel.
*/

@import "panels";

$zen-auto-include-item-base: false !global;
$zen-column-count: 12 !global;
$zen-gutter-width: 1.25em !global;
$gray: rgba(151,151,151,1);

main p.callOut {
  color:$wwuLtblue;
  font-size:1.25em;
}

/* ****************************************************
                Small-size -> 550px
**************************************************** */

@media all and (max-width:550px) {
  $zen-column-count: 1 !global;

  .clean-cst-top,
  .clean-cst-middle-left,
  .clean-cst-middle-center,
  .clean-cst-middle-right {
    @include zen-grid-item(1,1);
    @include zen-clear();
    margin:0 auto;
    display:block;
  }

  // Center aligns images until they are turned into straight CSS
  .clean-cst-top,
  .clean-cst-middle-left,
  .clean-cst-middle-center,
  .clean-cst-middle-right {
      text-align:center;
  }
}


/* ****************************************************
            Medium-size 551px <-> 800px
**************************************************** */

@media all and (min-width: 551px) and (max-width: 800px) {
  $zen-column-count: 3 !global;

  .clean-cst-top {
    @include zen-grid-item(3,1);
    @include zen-float(none);
  }

  .clean-cst-middle-left { // Dean's Lecture Series
    @include zen-grid-item(.9,1);
  }

  .clean-cst-middle-center { // Slideshow
    @include zen-grid-item(.9,2);
  }
  .clean-cst-middle-right { // About the college
    @include zen-grid-item(.9,3);
  }
}

/* ****************************************************
                Screen 801px ->
**************************************************** */

@media all and (min-width:801px) {
  $zen-column-count: 12 !global;

  .clean-cst-top { // Intro text
    @include zen-grid-item(12,1);
  }
  .clean-cst-middle-left { // Dean's Lecture Series
    @include zen-grid-item(3.8,1);
    @include zen-clear(both);
  }
  .clean-cst-middle-center { // Slideshow
    @include zen-grid-item(3.8,5);
  }
  .clean-cst-middle-right { // About the college
    @include zen-grid-item(3.9,9);
  }
}

// /////////////////////////////////////////////
//        Styling for panel editor view

#page-manager-edit {
  .clean-cst-top,
  .clean-cst-middle-left,
  .clean-cst-middle-center,
  .clean-cst-middle-right,
  .clean-cst-bottom-left,
  .clean-cst-bottom-right {
    display:inline-block;
  }
  .clean-cst-top {
    width:100%;
  }

  .clean-cst-middle-left {
    margin:1% .5% 1% 0;
    width:33%;
  }

  .clean-cst-middle-center {
    margin:1% .5% 1% 0;
    width:33%;
  }

  .clean-cst-middle-right {
    margin:1% 0 1% 0;
    width:33%;
  }
}
