/**
* These are the layout styles for the clean-chemistry panel.
*/

@import "panels";

@media all {
  .chemistry-homepage-left-column {
    $zen-column-count: 12;
    $zen-gutter-width: 30px;
    @include zen-grid-item(6.5,1);
  }

  .chemistry-homepage-right-column {
    $zen-column-count: 12;
    $zen-gutter-width: 30px;
    @include zen-grid-item(5.5,7.5);
  }
}

@media all and (max-width: 360px) {
  .chemistry-homepage-left-column {
    $zen-column-count: 1;
    $zen-gutter-width: 30px;
    @include zen-clear(left);
    @include zen-grid-item(1,1);
  }

  .chemistry-homepage-right-column {
    $zen-column-count: 1;
    $zen-gutter-width: 30px;
    @include zen-clear(left);
    @include zen-grid-item(1,1);
  }
}

@media all and (min-width:361px) and (max-width: 800px) {
  .chemistry-homepage-left-column {
    $zen-column-count: 3;
    $zen-gutter-width: 30px;
    @include zen-clear(left);
    @include zen-grid-item(3,1);
  }

  .chemistry-homepage-right-column {
    $zen-column-count: 3;
    $zen-gutter-width: 30px;
    @include zen-clear(left);
    @include zen-grid-item(3,1);
  }
}
