/**
* These are the layout styles for the clean-chemistry panel.
*/

@import "panels";

$zen-gutter-width: 30px !global;

@media all and (min-width: 0) {
  $zen-column-count: 1 !global;

  .wwu-25-percent-left-column {
    @include zen-grid-item(1,1);
    @include zen-nested-container();
  }

  .wwu-75-percent-right-column {
    @include zen-grid-item(1,1);
    @include zen-clear(left);
  }
}

@media all and (min-width: 800px) {
  $zen-column-count: 4 !global;

  .wwu-25-percent-left-column {
    @include zen-clear(left);
    @include zen-grid-item(1,1);
    @include zen-nested-container();
  }

  .wwu-75-percent-right-column {
    @include zen-grid-item(3,2);
    @include zen-clear(none);
  }
}
